{
    "API_URL": "{{ getenv "API_URL" "http://apigrow.local.io:3001" }}",
    "GRAVITEE_ENABLED": true,
    "GRAVITEE_MANAGEMENT_UI_URL": "{{ getenv "GRAVITEE_URL" "http://gravitee.local.io:8084" }}"
}